.intro {
    position: absolute;
    top: 3%;
    style: inline-block;
    font-family: "Arial";
    font-size: 20px;
    line-height: 30px;
}

p.top {
    text-align: left;
    width: 70%;
    margin-left: 15%;
}

p.welcome {
    text-align: right;
    margin-right: 15%;
    font-weight: bold;
}

.logo {
  position: absolute;
  top: 40%;
  left: 15%;
}

img {
  display: inline-block;
  height: 140px;
  width: 120px;
  margin-right: 12%;
  margin-bottom: 15px;
}

.footer {
    position: relative;
    right: 10%;
    font-family: "Arial";
    font-size: 13px;
    text-align: center;
    border-top: 1px solid gray;
    margin: 0% 10% 0% 10%;
}

span {
    margin-right: 50px;
}

a:link {
  text-decoration: none;
  color: #0645AD;
}

a:hover {
  text-decoration: underline;
  color: #0645AD;
}

a:visited {
    color: #0645AD;
}

